.container {
    max-width: 1200px;
    display: block;
    margin: auto;
}
.product-list {
    display: flex; 
    flex-wrap: wrap;
}

.product-single {
    margin: 5px;
    background-color: aliceblue;
    padding: 15px;
    flex: 1 1 250px;
    text-align: center
    &:hover {
        background-color: #fafafa;
    }
}